<section>
  <div class="navbar">
    <div class="container flex">
      <h1 class="logo">Mighty BUB!</h1>
      <nav>
        <ul>
          <li><a href="/feed">Feed</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout </a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
