<%- include('partials/header') -%>
<body>
  <div class="container">
    <h1>Mighty BUB</h1>
    <div class="links flex">
      <a href="/login" class="btn"> Log In</a>
      <a href="/signup" class="btn"> Sign Up</a>
    </dvi>
  </div>  
</body>
</html>